body{
  display: flex;
  flex-direction: column;
  text-align: center;
}


#gameboard{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 300px;
  justify-content: center;
}


.square{
  display: flex;
  flex-wrap: wrap;
  float: left;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 39%;
  text-align: center;
  font-size: 80px;



}

#controls{
  margin:60px 0px
}
#message{
  margin: 20px;
}



#controls,#message
{
  text-align: center;
  /* margin: 20px 0; */
  
}